{% load static %}

<nav class="bg-white shadow-sm">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">

                    <div>
                        <!-- Website Logo -->
                        <a href="#" class="flex items-center py-4 px-2">
                            <img src="{% static 'assets/images/logo 1.svg' %}" width="200"></a>

                    </div>
                    <!-- Primary Navbar items -->
                    <div class="flex items-center space-x-2">
                        <a href="" class="py-2 px-4 bg-violet-400 rounded-md text-white font-semibold">Register</a>
                        <a href="" class="py-2 px-4 bg-indigo-800 rounded-md text-white font-semibold
                            hover:bg-violet-400 shadow-lg transition duration-300 ">Login</a>
                    </div>

                <!-- Mobile menu button -->
				<div class="md:hidden flex items-center">
					<button class="outline-none mobile-menu-button">
						<svg class=" w-12 h-12 text-indigo-800 hover:text-violet-400 "
							x-show="!showMenu"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
						<path d="M4 6h16M4 12h16M4 18h16"></path>
						</svg>
					</button>
				</div>
            </div>
        </div>
        <!-- mobile menu -->
        <div class="hidden mobile-menu flex justify-end">
                <ul class=" bg-white shadow-lg px-4 py-4 rounded-lg absolute z-50">
                    <li class="active"><a href="{% url 'euromilhoesapp:index' %}" class="block text-sm uppercase px-2 py-2 text-white bg-violet-400 font-semibold">Home</a></li>
                    <li><a href="#services" class="block text-sm uppercase px-2 py-2 hover:bg-violet-400 transition duration-300">Plots</a></li>
                    <li><a href="{% url 'euromilhoesapp:statistics' %}" class="block text-sm uppercase px-2 py-2 hover:bg-violet-400 transition duration-300">Statistics</a></li>
                    <li><a href="#contact" class="block text-sm uppercase px-2 py-2 hover:bg-violet-400 transition duration-300">Neuronets</a></li>
                    <li><a href="#contact" class="block text-sm uppercase px-2 py-2 hover:bg-violet-400 transition duration-300">Contacts</a></li>
                </ul>
        </div>
        <script>
            const btn = document.querySelector("button.mobile-menu-button");
            const menu = document.querySelector(".mobile-menu");

            btn.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });
        </script>
    </nav>